.mk-container {
  display: flex;
  padding: 0 15px;
  justify-content: center;
  height: 100%;
}

.mk-header {
  height: 10vh;
}

.control {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  flex-wrap: wrap;
}
.control-button,
.mk-button,
.note-nav__button {
  padding: 10px;
  border: 1px dashed black;
  border-radius: 10px;
  background-color: rgb(220, 218, 218);
}

.mk-main {
  // display: flex;
  // height: 80vh;
  background: repeating-linear-gradient(
      #bbb 1px,
      transparent 2px,
      transparent 28px
    ),
    repeating-linear-gradient(
      90deg,
      #bbb 1px,
      transparent 2px,
      transparent 28px
    );
}
.main-content {
  min-height: 80vh;
  display: flex;
  gap: 5vw;
}
.mk-ads {
  width: 10vw;
  border: 2px dashed black;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 20px;
  text-align: center;
}

.content-wrapper {
  padding: 10px;
  width: 80vw;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.note {
  text-align: center;
  list-style: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 150px;
  height: 80px;
  background: repeating-linear-gradient(
      #bbb 1px,
      transparent 2px,
      transparent 10px
    ),
    repeating-linear-gradient(
      90deg,
      #bbb 1px,
      transparent 2px,
      transparent 10px
    );
  cursor: pointer;
  font-size: 12px;
}

.note__title {
  font-size: 12px;
  margin-bottom: 10px;
}

.mk-backdrop {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.mk-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  width: 50vw;
  height: 70vh;
  background-color: white;
}

.mk-modal__form {
  display: flex;
  flex-direction: column;
}

.mk-modal__title {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 20px;
}

.form-label {
  display: flex;
  flex-direction: column;
}
.form-label:not(:last-child) {
  margin-bottom: 20px;
}

.form-label input,
.form-label textarea {
  padding: 10px;
}

.mk-note__backdrop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  // background-color: white;
}

// .mk-note__list
.mk-note__modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  border: 2px dashed black;
  box-shadow: 12px 12px 2px 1px gray;
  border-radius: 20px;
  padding: 30px;
}

// .mk-note__list li:not(:last-child) {
//   margin-bottom: 20px;
// }

.note__tags {
  overflow-wrap: break-word;
  // width: 80px;
}

#note-title,
#note-description,
#note-tags {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
#note-title,
#note-description {
  margin-bottom: 20px;
}

.note-nav__button {
  position: absolute;
  bottom: 20px;
}
#previous {
  left: 50px;
}
#remove {
  left: 50%;
  transform: translateX(-50%);
}
#next {
  right: 50px;
}
