.mk-container {
  display: flex;
  padding: 0 50px;
  justify-content: center;
  height: 100%;
}

.mk-header {
  height: 10vh;
}

.control {
  display: flex;
  align-self: center;
  gap: 30px;
}
.control-button {
  padding: 10px;
  border: 1px dashed black;
  border-radius: 10px;
  background-color: rgb(220, 218, 218);
}

.mk-main {
  // display: flex;
  // height: 80vh;
  background: repeating-linear-gradient(
      #bbb 1px,
      transparent 2px,
      transparent 28px
    ),
    repeating-linear-gradient(
      90deg,
      #bbb 1px,
      transparent 2px,
      transparent 28px
    );
}
.main-content {
  display: flex;
  gap: 5vw;
}
.mk-ads {
  width: 10vw;
  border: 2px dashed black;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 20px;
  text-align: center;
}

.content-wrapper {
  padding: 10px;
  width: 70vw;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.note {
  text-align: center;
  list-style: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 70px;
}
