// *,
// *::before,
// *::after {
.body,
.body::before,
.body::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

// .html,
.body {
  height: 100%;
  line-height: 1.6;
  font-size: 16px;
  background: repeating-linear-gradient(
      #bbb 1px,
      transparent 2px,
      transparent 28px
    ),
    repeating-linear-gradient(
      90deg,
      #bbb 1px,
      transparent 2px,
      transparent 28px
    );
  font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper {
  min-height: 100%;
}

// ============================//

.page {
  padding: 90px 0 30px 0;
}

.page__section {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

body._lock {
  overflow: hidden;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: aquamarine;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  border-radius: 20%;
  // background-image: url(../images/pngwing.com.png);

  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
}


// .menu__icon {
//   display: none;
// }

.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}
.menu__item {
}
.menu__link {
  color: rgb(82, 0, 60);
  font-size: 18px;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__sub--list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(201, 197, 255);
  padding: 15px;
  min-width: 200px;
}

.menu__sub--list li {
  margin: 0 0 10px 0;
}
.menu__sub--list li:last-child {
  margin: 0;
}
.menu__sub--item {
}
.menu__sub--link {
  color: rgb(76, 0, 77);
}

.menu__sub--link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

// -----------------------
body._pc .menu__list > li:hover .menu__sub--list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin-left: 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(0, 166, 255);
}

body._touch .menu__list > li._active .menu__sub--list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

// -----------------------

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub--list {
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgb(46, 0, 73);
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(131, 255, 214);
    padding: 100px 30px 30px 30px;
    transition: left 500ms ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: aqua;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub--list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }

  .menu__sub--list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin-top: 20px;
    display: none;
  }

  .menu__sub--link {
    font-size: 20px;
    color: rgb(30, 0, 255);
  }
}

// ==================NoteApp========================//
// .body-rm {

// }

.note-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 0%;
padding: 20px 20px;
max-width: 800px;
width: 100%;
margin: 0 auto;

}

.note-title {
  text-align: center;
  padding: 30px 20px;
  font-size: 55px;
  font-weight: 600;
  color: rgb(42, 0, 56);
}

.harold-img {
  display: inline-block;
  vertical-align: middle;
}

.note-body {
  font-size: 18px;
  font-weight: 400;
  color: rgb(44, 44, 44);
}

#new-note-form {
  display: flex;
  
}

.note-body input,
.note-body button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-note-input {
  flex: 1 1 0%;
  background-image: linear-gradient(to right, rgb(253, 216, 255), rgb(202, 253, 255));
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  font-size: 20px;
  color: rgb(29, 0, 61);
}

#new-note-input::placeholder {
  color: rgb(100, 100, 100);
}

#new-note-submit {
color: rgb(40, 40, 40);
font-size: 20px;
font-weight: 700;
background-image: linear-gradient(to right, rgb(240, 0, 253), rgb(68, 71, 255));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border-radius: 15px;
cursor: pointer;
transition: 0.4s;
}

#new-note-submit:hover {
  opacity: 0.7;
  box-shadow: 0px 10px 20px #bca7ff;
}

#new-note-submit:active {
  opacity: 0.5;
}

.list-title {
  text-align: center;
  padding: 30px 20px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(81, 0, 109);
}

#notes-rm .note-rm {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #fbaeff, rgb(170, 171, 255));
padding: 10px;
border-radius: 15px;
margin-bottom: 10px;
}

.content-rm {
  flex: 1 1 0%;
}

#notes-rm .note-rm .text {
  color: #4b378c;
  font-size: 25px;
  width: 100%;
  display: block;
  transition: 0.4s;

}

#notes-rm .note-rm .text:not(:read-only) {
color: aqua;
}

#notes-rm .note-rm .actions-rm {
  display: flex;
  margin: 0 -0.5rem;
}

.actions-rm button {
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 700;
  color: #4b378c;
  text-transform: uppercase;
  transition: 0.4s;

}

.actions-rm button:hover {
  opacity: 0.7;
  
}

.actions-rm button:active {
  opacity: 0.5;
}

.actions-rm .btn-delete {
  color: rgb(204, 45, 77);
}
