<div class="container container--column">
  <section class="ads">
    <p class="ads__description">
      "google ads..." buy a subscription to disable ads
    </p>
  </section>
  <main class="main">
    <h1 class="mk-title">Lorem, ipsum dolor.</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora,
      molestias. Rem ullam voluptas, ea porro labore iure eveniet, saepe magni
      molestias soluta pariatur accusantium est tempore a animi esse. Non vero
      molestiae ducimus debitis rerum consequuntur esse ipsum omnis est neque
      labore dolore facere sapiente quidem, nobis, inventore, iste corporis
      placeat! Officia rem earum voluptatibus aliquid cupiditate laborum ullam
      vitae quos natus dolorum animi neque sit quibusdam, dolorem nesciunt
      magnam soluta. Adipisci laudantium aut voluptatibus? Cupiditate nisi
      cumque saepe temporibus, inventore, provident sit mollitia, quaerat
      exercitationem ex dolorum. Sed repellendus nobis omnis! Ex fugit a, velit
      quod iste harum possimus.
    </p>
  </main>
  <aside class="sidebar">
    <ul class="sidebar__ist">
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
      <li class="sidebar__item">lorem</li>
    </ul>
  </aside>
</div>
